[Unit]
Description=Vmess Limit IP looping
After=network.target

[Service]
ExecStart=/usr/local/sbin/loop-ip-vmess
Restart=on-failure
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target